/*Projects*/

.title{
  text-align: center;
  background-color: #FADD8B;
  padding-top: 1em;
  padding-bottom: 1em;
}

.column-half {
  width: 50vw;
}

p.yellow {
  color: #FADD8B;
  padding: 1em 2em;
}

.portfolio-item {
  display:flex;
  flex-direction: row;
  min-height: 500px;
  overflow: hidden;
}

.portfolio-item.red {
  div.project-photo {
    border-bottom-right-radius: 500px;
  }
  .column-half.project-photo {
      background-position: right;
      background-size: cover;
  }
}

.portfolio-item.blue {
  div.project-photo {
    border-bottom-left-radius: 500px;
  }
  .column-half.project-photo {
      background-position: left;
      background-size: cover;
  }
}

.portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  z-index: 1;
}

.nature-honour-wrapper {
  background-color: #1A3557;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

.nature-honour-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p.nature-text {
  width: 60%;
}
.nature-honour-photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  object-fit: contain;
}
img.nature {
  width: 100%;
}
img.main-pic {
  grid-column-start: 1;
  grid-column-end: 3;
}

img.mat {
  grid-column-start: 1;
  grid-column-end: 2;
}

img.fish{
  grid-column-start: 2;
  grid-column-end: 3;
}
