/*Projects*/

.title{
  text-align: center;
  background-color: #FADD8B;
  padding-top: 1em;
  padding-bottom: 1em;
}

.column-half {
  width: 50vw;
}

p.yellow {
  color: #FADD8B;
  padding: 1em 2em;
}

.portfolio-item {
  display:flex;
  flex-direction: row;
  min-height: 500px;
  overflow: hidden;
}

.portfolio-item.red {
  background-color: $gred;
}

.portfolio-item.blue {
  background-color: $gblue;
}

.column-half.project-photo {
    background-position: center;
    background-size: cover;
}

.portfolio-item.red {
  div.project-photo {
    border-bottom-right-radius: 500px;
  }
}

.portfolio-item.blue {
  div.project-photo {
    border-bottom-left-radius: 500px;
  }
}

.portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  z-index: 1;
}

.project-gallery {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  flex-shrink: 1;
  margin: 0 auto;
}
.gallery-item + .gallery-item {
  margin-top: 2rem;
}
