---
layout: default
---
  <body class="projects-page">

    <div class="title">
      <h1>Projects</h1>
    </div>

    <!--Gut Buddies-->
    {% for item in page.projects %}
      {% assign mod = forloop.index | modulo: 2 %}
        {% if item.galleryStyle == false %}
          {% if mod != 0 %}

            <div class="portfolio-item right">
              <div class="column-half project-photo" style="background-image: url("{{ item.image }}"); ">
              </div>
                <div class="column-half portfolio-text right-lip">
                  <h2>{{ item.name }}</h2>
                    <p class="yellow">{{ item.description }}</p>

                    {% if item.teaser %}
                        <a class="cta yellow xfade" target="_blank" href="{{ item.teaser }}">Watch Teaser</a>
                    {% endif %}


                </div>
            </div>

          {% else %}

          <div class="portfolio-item left">
            <div class="column-half portfolio-text left-lip">
              <h2>{{ item.name }}</h2>
                <p class="yellow"> {{ item.description | markdownify }} </p>
            </div>

            <div class="column-half project-photo" style="background-image: url("{{ item.image }}")">
            </div>

          </div>

          {% endif %}
        {% endif %}
    {% endfor %}

    <div class="nature-honour-photos">

          <img class="main-pic nature"src="/assets/projects/in-natures-honour-1.jpg" alt="">
          <img class="mat nature"src="/assets/projects/in-natures-honour-2.jpg" alt="">
          <img class="fish nature"src="/assets/projects/in-natures-honour-3.jpg" alt="">
    </div>

    <div class="portfolio-item right">
      <div class="column-half project-photo" style="background-image: url("/assets/projects/gut-buddies.jpg"); ">
      </div>
        <div class="column-half portfolio-text right-lip">
          <h2>Gut Buddies</h2>
            <p class="yellow">{{ page.gutbuddies }}</p>

            <a class="cta yellow xfade" target="_blank" href="https://vimeo.com/293715464">Watch Teaser</a>

        </div>
    </div>
    </div>
