---
layout: default
---
  <body class="projects-page">

    <div class="title">
      <h1>Projects</h1>
    </div>

    {% for item in page.projects %}
      {% assign mod = forloop.index | modulo: 2 %}
          {% if mod != 0 %}
            {% if item.galleryStyle == true %}
              <div class="portfolio-item galleryStyle red">
                <div id="" class="portfolio-text" >
                  <h2 class="yellow">{{ item.name }}</h2>
                  <p class="yellow">{{ item.description | markdownify }}</p>
                </div>

                <div class="project-gallery">
                  {% for item in item.gallery %}
                    <img src="{{ item }}" alt="{{ item }}">
                  {% endfor %}
                </div>
              </div>

            {% else %}

              <div class="portfolio-item red">
                <div class="column-half project-photo" style="background-image: url({{ item.image }}); ">
                </div>
                  <div class="column-half portfolio-text right-lip">
                    <h2>{{ item.name }}</h2>
                      <p class="yellow">{{ item.description }}</p>

                      {% if item.awards %}
                        {% for award in item.awards %}
                          <img src="{{ award }}" alt="">
                        {% endfor %}
                      {% endif %}

                      {% if item.teaser %}
                          <a class="cta yellow xfade" target="_blank" href="{{ item.teaser }}">Watch Teaser</a>
                      {% endif %}

                  </div>
              </div>
            {% endif %}

          {% else %}

          {% if item.galleryStyle == true %}

            <div class="portfolio-item galleryStyle blue">
              <div id="" class="portfolio-text" >
                <h2 class="yellow">{{ item.name }}</h2>
                <p class="yellow">{{ item.description }}</p>
              </div>

              <div class="project-gallery">
                {% for item in item.gallery %}
                  <img class="gallery-item" src="{{ item }}" alt="{{ item }}">
                {% endfor %}
              </div>
            </div>

          {% else %}

            <div class="portfolio-item blue">
              <div class="column-half portfolio-text left-lip">
                <h2>{{ item.name }}</h2>
                <p class="yellow"> {{ item.description }} </p>
              </div>

              <div class="column-half project-photo" style="background-image: url({{ item.image }})">
              </div>

            </div>

          {% endif %}
        {% endif %}
    {% endfor %}
